
button {
  border: none;
  background: #54d37a;
  color: rgba(255,255,255,0.3);
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  }

button:before {
  content:â€;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 42px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  transition: all 2s ease;
  }

button:hover {
  background: rgba(0,0,0,0);
  color: #00eb46;
  box-shadow: inset 0 0 0 3px #03cc35;
  }


button{
  padding: 10px 35px;
  overflow:hidden;
  }

button:before {
  font-family: FontAwesome;
  content:">>";
  position: absolute;
  top: 11px;
  left: -30px;
  transition: all 200ms ease;
  }

button:hover:before {
  left: 7px;
  }

input{
  background-color: #d6e7de;
}

span{
  background-color: #bfe0cdb6;
}

body{
  height:657px;
  display: flex;
flex-direction: column;
  background-color: #3a9979;
}

.error{
  color: #00c954;
  font-weight: 700;
  font-family: fantasy;
}

.invalid{
  color: #00c964;
  font-weight: 700;
  font-family: fantasy;
  font-size: 20px;
}
