/* You can add global styles to this file, and also import other style files */
/*ESTILOS GLOBALES*/
button {
  border: none;
  background: #3a995a;
  color: rgba(255,255,255,0.3);
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  }

button:before {
  content:â€;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 42px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  transition: all 2s ease;
  }

button:hover {
  background: rgba(0,0,0,0);
  color: #3a9962;
  box-shadow: inset 0 0 0 3px #3a995e;
  }


button{
  padding: 10px 35px;
  overflow:hidden;
  }

button:before {
  font-family: FontAwesome;
  content:">>";
  position: absolute;
  top: 11px;
  left: -30px;
  transition: all 200ms ease;
  }

button:hover:before {
  left: 7px;
  }

input{
  background-color: #d6e7dc;
}

span{
  background-color: #bfe0c7b6;
}

body{
  height:657px;
  display: flex;
  flex-direction: column;
  background-color: #00c954;
}

.error{
  color: #00c954;
  font-weight: 700;
  font-family: fantasy;
}

.invalid{
  color: #00c964;
  font-weight: 700;
  font-family: fantasy;
  font-size: 20px;
}

/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;
}
  jw-modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .jw-modal-background */
      z-index: 1000;

      /* enables scrolling for tall modals */
      overflow: auto;
  }
      jw-modal-body {
          padding: 20px;
          background: #fff;

          /* margin exposes part of the modal background */
          margin: 40px;
      }

  jw-modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      /*opacity: 0.75;*/

      /* z-index must be below .jw-modal and above everything else  */
      z-index: 900;
  }

/*bodyjw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open
  overflow: hidden;
}*/

.jw-modal{
  background-color: white;
  -webkit-text-stroke: 1px rgb(255, 230, 1);

  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 230, 1);

  position: center;
  top: 10;
  right: 10;
  bottom: 10;
  left: 10;
  margin: 400px;
  margin-top: 30px;
  overflow: auto;

  align-items: center;
  justify-content: center;

  border-radius: 10px;

}
